[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-socketio = ">=5.5.0"
pystray = ">=0.18.0"
aiohttp = ">=3.8.1"
aiohttp-jinja2 = ">=1.5"
Jinja2 = ">=3.0.3"
Pillow = ">=8.4.0"
python-ndn = ">=0.3"

[requires]
python_version = "3.10"

[scripts]
app = "python app.py"
main = "python main.py"
