<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Route</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add-route.css') }}">
</head>
<body>
    {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
    {% endif %}
  <form action="../exec/add-route" method="post">
    <p>
      <label for="name">Prefix</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
        <label for="face_id">Face ID</label>
        <input type="text" name="face_id" id="face_id"/>
      </p>
    <p>
      <button type="submit">Add</button>
    </p>
  </form>
</body>
</html>
