{% extends "base.html" %}
{% block title %}Auto Configuration{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .center {
      text-align: center;
    }
  </style>
{% endblock %}
{% block bodyhead %}
  <h1>Auto Configuration</h1>
{% endblock %}
{% block content %}
  <div class="center">
    <a href="/autoconf/perform" class="pure-button pure-button-primary">Connect to NDN Testbed through the closest NDN router.</a>
  </div>
  {% if msg %}
    <p class="center">{{ msg }}</p>
  {% endif %}
{% endblock %}
