<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Status</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/face-list.css') }}">
</head>
<body>
  <h1>{{ name }}</h1>
  <table>
    <caption>Face Lists</caption>
    <tr>
      <th>face id</th>
      <th>uri</th>
    </tr>
    {% for item in face_list %}
    <tr>
      <td>{{ item['face_id']|e }}</td>
      <td>
        <details>
          <summary>{{ item['uri']|e }}</summary>
          {% for field in fields_collapse %}
            {{ field + ": " + item[field]|e }}<br>
          {% endfor %}
        </details>
      </td>
      <td>
        <form action="../exec/remove-face" method="post">
          <input type="hidden" name="face_id" value={{ item["face_id"] }}>
          <button type="submit">Remove</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action="../exec/add-face" method="post">
    <p>
      <label for="ip">IP Addr</label>
      <input type="text" name="ip" id="ip"/>
    </p>
    <p>
      <button type="submit">Create</button>
    </p>
  </form>
  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
</body>
</html>
