<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face Events</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/face-events.css') }}">
</head>
<body>
  <textarea id="chat-log" cols="100" rows="20" readonly="readonly"></textarea><br/>
</body>
<script src="{{ url_for('static', filename='css/socket.io.js') }}" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
  var socket = io();
  socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
  });
  socket.on('face event', function(data){
    document.querySelector('#chat-log').value += (JSON.stringify(data) + '\n');
  });
</script>
</html>
