<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face Events</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/face-events.css') }}">
</head>
<body>
<table id="chat-log">
  <tr>
    <th>Seq ID</th>
    <th>Face ID</th>
    <th>Local URI</th>
    <th>Event Kind</th>
    <th>Remote URI</th>
    <th>Face Scope</th>
    <th>Face Persistency</th>
    <th>Link Type</th>
    <th>Flags</th>
  </tr>
  {% if event_list %}
    {% for event in event_list %}
      <tr>
        <td>{{ event['seq'] }}</td>
        <td>{{ event['face_id'] }}</td>
        <td>{{ event['local_uri'] }}</td>
        <td>{{ event['face_event_kind'] }}</td>
        <td>{{ event['remote_uri'] }}</td>
        <td>{{ event['face_scope'] }}</td>
        <td>{{ event['face_persistency'] }}</td>
        <td>{{ event['link_type'] }}</td>
        <td>{{ event['flags'] }}</td>
      </tr>
    {% endfor %}
  {% endif %}
</table>
</body>
<script src="{{ url_for('static', filename='socket.io.js') }}" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
  var socket = io();
  socket.on('face event', function(data){
    let row = document.querySelector('#chat-log').insertRow(-1);
    row.insertCell(-1).appendChild(document.createTextNode(data['seq']));
    row.insertCell(-1).appendChild(document.createTextNode(data['face_id']));
    row.insertCell(-1).appendChild(document.createTextNode(data['local_uri']));
    row.insertCell(-1).appendChild(document.createTextNode(data['face_event_kind']));
    row.insertCell(-1).appendChild(document.createTextNode(data['remote_uri']));
    row.insertCell(-1).appendChild(document.createTextNode(data['face_scope']));
    row.insertCell(-1).appendChild(document.createTextNode(data['face_persistency']));
    row.insertCell(-1).appendChild(document.createTextNode(data['link_type']));
    row.insertCell(-1).appendChild(document.createTextNode(data['flags']));
  });
</script>
</html>
