{% extends "base.html" %}
{% block title %}NDN Control Center{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
      #green-text {
          color: green;
      }

      #red-text {
          color: red;
      }

      .center-text {
          text-align: center;
          font-size: xx-large;
      }
  </style>
{% endblock %}
{% block bodyhead %}
  <h1>NDN Control Center</h1>
{% endblock %}
{% block content %}
  {% if nfd_state %}
    <div id="green-text" class="center-text">NFD is running.</div>
  {% else %}
    <div id="red-text" class="center-text">NFD is not running.</div>
  {% endif %}
{% endblock %}

