{% extends "base.html" %}
{% block title %}Routes{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block bodyhead %}
  <h1>Routes</h1>
{% endblock %}
{% block content %}
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Route</th>
      </tr>
    </thead>
    <tbody>
      {% for rib_entry in rib_list %}
      <tr>
        <td>{{ rib_entry[0] }}</td>
        <td>
          <table class="pure-table pure-table-bordered">
            <thead>
              <tr>
                <th>Face ID</th>
                <th>Origin</th>
                <th>Cost</th>
                <th>Flags</th>
                <th>Exp Period</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% set row_class = cycler('pure-table-odd', '') %}
              {% for route in rib_entry[1] %}
                <tr class="{{ row_class.next() }}">
                  <td>{{ route['face_id']|e }}</td>
                  <td>{{ route['origin']|e }}</td>
                  <td>{{ route['cost']|e }}</td>
                  <td>{{ route['flags']|e }}</td>
                  <td>{{ route['exp_period']|e }}</td>
                  <td>
                    <form action="/routes/remove" method="post">
                      <input type="hidden" name="name" value={{ rib_entry[0] }}>
                      <input type="hidden" name="face_id" value={{ route["face_id"] }}>
                      <button type="submit">Remove</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/routes/add" method="post">
    <p>
      <label for="name">Prefix</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
        <label for="face_id">Face ID</label>
        <input type="text" name="face_id" id="face_id"/>
      </p>
    <p>
      <button type="submit">Add</button>
    </p>
  </form>
  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
{% endblock %}
