<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Key Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/route-list.css') }}">
</head>
<body>
  <h1>{{ name|e }}</h1>
  <table>
    <caption>Route Lists</caption>
    <tr>
      <th>Name</th>
      <th>Route</th>
    </tr>
    {% for rib_entry in rib_list %}
    <tr>
      <td>{{ rib_entry[0] }}</td>
      <td>
        {% for route in rib_entry[1] %}
          <table>
            <tr>
              {% for field in route.keys() %}
                <th>{{ field|e }}</th>
              {%  endfor %}
            </tr>
            <tr>
              {% for field in route.keys() %}
                <td>{{ route[field]|e }}</td>
              {%  endfor %}
            </tr>
          </table>
          <form action="../exec/remove-route" method="post">
            <input type="hidden" name="name" value={{ rib_entry[0] }}>
            <input type="hidden" name="face_id" value={{ route["face_id"] }}>
            <button type="submit">Remove</button>
          </form>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action="../exec/add-route" method="post">
    <p>
      <label for="name">Prefix</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
        <label for="face_id">Face ID</label>
        <input type="text" name="face_id" id="face_id"/>
      </p>
    <p>
      <button type="submit">Add</button>
    </p>
  </form>
  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
</body>
</html>
