<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Key Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/route-list.css') }}">
</head>
<body>
  <h1>{{ name|e }}</h1>
  <table>
    <caption>Route Lists</caption>
    <tr>
      <th>Name</th>
      <th>Route</th>
    </tr>
    {% for rib_entry in rib_list %}
    <tr>
      <td>{{ rib_entry[0] }}</td>
      <td>
        {% for route in rib_entry[1] %}
          <table>
            <tr>
              {% for field in route.keys() %}
                <th>{{ field|e }}</th>
              {%  endfor %}
            </tr>
            <tr>
              {% for field in route.keys() %}
                <td>{{ route[field]|e }}</td>
              {%  endfor %}
            </tr>
          </table>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
