{% extends "base.html" %}
{% block title %}Strategy List{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block bodyhead %}
  <h1>Strategy List</h1>
{% endblock %}
{% block content %}
  <table class="pure-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Strategy</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% set row_class = cycler('pure-table-odd', '') %}
      {% for item in strategy_list %}
      <tr class="{{ row_class.next() }}">
        <td>{{ item['name']|e }}</td>
        <td>{{ item['strategy']|e }}</td>
        <td>
          <form action="/strategies/unset" method="post">
            <input type="hidden" name="name" value={{ item["name"] }}>
            <button type="submit">Unset</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form class="pure-form" action="/strategies/set" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
      <label for="strategy">Strategy</label>
      <select name="strategy" id="strategy">
        <option value="/localhost/nfd/strategy/multicast">Multicast</option>
        <option value="/localhost/nfd/strategy/best-route">Best Route</option>
        <option value="/localhost/nfd/strategy/access">Access Router</option>
        <option value="/localhost/nfd/strategy/asf">ASF (Adaptive SRTT-based Forwarding)</option>
        <option value="/localhost/nfd/strategy/self-learning">Self-Learning</option>
        <option value="/localhost/nfd/strategy/ncc">NCC (CCNx default)</option>
      </select>
    </p>
    <p>
      <button type="submit">Set</button>
    </p>
  </form>
  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
{% endblock %}
